* 
    margin: 0
    padding: 0

html,
body 
    height: 100%

.wrapper 
    display: flex
    flex-direction: column
    height: 100%
    max-width: 960px 
    margin: 0 auto
    padding: 21px

    box-shadow: 0 0 10px rgba(0,0,0,0.5);


.footer 
    flex: 0 0 auto
