.nav
    width: 100%
    
    display: flex
    flex: 1 0 0

    color: #fff
    background: #1E88E5
    list-style: none
    &__item
        
    &__link
        display: block
        box-sizing: content-box
        padding: 10px 10px 6px 10px
        
        border-bottom: 4px solid #1E88E5
        color: #fff
        text-decoration: none
        &:first-child 
            border-left: none
        &:last-child
            border-right: none
        &:hover
            border-bottom: 4px solid lighten(#1E88E5, 15%)
            background: lighten(#1E88E5, 15%)
        &:visited
            color: #fff
        &_active
            border-bottom: 4px solid lighten(#1E88E5, 35%)
